{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<div class="py-3 px-3 grid grid-cols-4 gap-4 browse-page-container">
    <div class="col-span-1 browse-sidebar-card">
        <form method="get" action="{% url 'item:browse_items' %}">
            <input name="query" class="browse-search-input" type="text" value="{{ query }}"
                   placeholder="Find your desired item...">
            <button class="browse-search-button">Search</button>

            <hr class="my-6 border-gray-200 dark:border-gray-700">
            <p class="browse-category-heading">categories</p>
            <ul>
                {% for category in categories %}
                <li class="browse-category-list-item {% if category.id == category_id %}browse-category-list-item-active{% endif %}">
                    <a href="{% url 'item:browse_items' %}?query={{ query }}&category={{ category.id }}"
                       class="block w-full h-full">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <hr class="my-6 border-gray-200 dark:border-gray-700">
            <p class="browse-category-heading">Clear filters</p>
            <ul>
                <li><a href="{% url 'item:browse_items' %}"
                       class="browse-clear-button">Clear</a></li>
            </ul>
        </form>
    </div>
    <div class="col-span-3">
        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div class="relative pb-[56.25%] overflow-hidden">
                        <img src="{{ item.image.url }}"
                             class="absolute inset-0 w-full h-full object-cover rounded-t-xl">
                    </div>
                    <div class="browse-item-card-content">
                        <h2 class="browse-item-name">{{ item.name }}</h2>
                        <p class="browse-item-price">{{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}