{% extends 'core/base.html' %}

{% block title %}
{{ item.name }}
{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <div class="details-image-wrapper">
            <img src="{{ item.image.url }}" class="details-main-image">
        </div>
    </div>
    <div class="col-span-2 p-6 card-primary">
        <h1 class="auth-heading">{{ item.name }}</h1>
        <p class="detail-text"><strong>Price: </strong>{{ item.price }}</p>
        <p class="detail-text"><strong>Seller: </strong>{{ item.created_by.username }}</p>

        {% if item.description %}
        <p class="detail-text"><strong>Description: </strong><br/>{{ item.description }}</p>
        {% endif %}
        {% if request.user == item.created_by %}
        <div class="mt-6 p-6 card-secondary">
            <p class="detail-text">This is your item</p>
            <a href="{% url 'item:edit' item.id %}"
               class="inline-block mt-6 btn-primary">Edit</a>
            <a href="{% url 'item:delete' item.id %}"
               class="inline-block mt-6 btn-danger">Delete</a>
        </div>
        {% else %}
        <a href="{% url 'conversation:new' item.id %}"
           class="inline-block mt-6 btn-primary">Contact
            seller</a>
        {% endif %}
    </div>
</div>

<!-- Showing related items on product detail page -->
<div class="mt-6 px-6 py-12 card-primary">
    <h2 class="auth-heading text-center">Related items</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
        <div class="browse-category-list-item-active">
            <a href="{% url 'item:detail' item.id %}">
                <div class="relative pb-[56.25%] overflow-hidden">
                    <img src="{{ item.image.url }}" class="absolute inset-0 w-full h-full object-cover rounded-t-xl">
                </div>
                <div class="p-6 card-secondary rounded-b-xl">
                    <h2 class="browse-item-name">{{ item.name }}</h2>
                    <p class="browse-item-price">{{ item.price }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
